name: lint python

on:
  pull_request:
    paths:
      - "*"
  push:
    branches:
      - develop
    paths:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          flake8 --version
          flake8 .
      - name: Lint with mypy
        run: |
          if [ -n "$(find . -type f -name '*.py')" ]; then
            mypy --version
            mypy .
          fi
      - name: Formatter check with black
        run: |
          black --version
          black --check .
      - name: Formatter check with isort
        run: |
          isort -V
          isort --check-only .
